
.Layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.Sidebar {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100vh;
  background: white;
  &__websiteName{
    padding: 20px 16px;
  }
  &__menuItems {

  }
  &__menuItem {
  }
  &__menuItemLink {
    color: black;
  }
}

.MainSection{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100vw;
  height: 91vh;
}